header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 44px auto;
  gap: 18px;
  width: var(--page-w);
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.logo-section {
  font-size: 17px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 5px;
  width: 220px;
  border-radius: var(--border-radius);
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
}

.logo-section:hover {
  scale: 1.04;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: white;
  border-radius: var(--border-radius);
  padding: 7px 8px;
}

.nav-items {
  display: flex;
  gap: 8px;
}

.nav-items a {
  font-size: 19px;
  user-select: none;
  padding: 9px 14px;
  border-radius: var(--border-radius);
  text-align: center;
  transition: var(--transition);
  font-family: "bell", sans-serif;
  color: var(--secondary);
}

.nav-items a:hover {
  color: black;
  scale: 1.05;
}

.nav-item-active {
  color: black !important;
  background: var(--gradient);
}

.init-session-btn {
  border-style: none;
  padding: 16px 12px;
  width: 170px;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-family: "bell", sans-serif;
  transition: var(--transition);
}

.init-session-btn:hover {
  scale: 1.04;
}

.init-session-btn p {
  font-size: 19px;
  white-space: nowrap;
}
