:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --dark1: #171717;
  --dark2: #343434;
  --primary: #f28b90;
  --secondary: #964145;
  --gradient: radial-gradient(circle, var(--primary) 0%, var(--secondary) 85%);
  --gradient2: radial-gradient(circle at center, #eeeeee, #b6b6b6);
  --transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  --transition2: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  --border-radius: 16px;
  --page-w: 94%;
  --page-w2: 84%;
  --page-w3: 74%;
  --page-w4: 64%;
}

@font-face {
  font-family: "tarot";
  src: url("./fonts/phalyn1_1-webfont.woff2") format("woff2"),
    url("./fonts/phalyn1_1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bell";
  src: url("./fonts/bell_mt_fett-webfont.woff2") format("woff2"),
    url("./fonts/bell_mt_fett-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gotham";
  src: url("./fonts/gothammedium_1-webfont.woff2") format("woff2"),
    url("./fonts/gothammedium_1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 74px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: var(--dark1);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark2);
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #545454;
}

*::selection {
  background-color: var(--dark2);
  color: var(--primary);
}

a,
p {
  font-weight: 500;
  text-decoration: inherit;
  color: #171717;
}
a:hover {
  color: #171717;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main {
  margin: 0px auto;
}
